body {
  background-color: lightpink;
}
h1 {
  text-align: center;
}

table {
  margin:auto;
}
th {
  text-align:left;
  font-size: 22px;
}

td{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 18px;
}
